<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NBA PhoneBook </title>
  <link rel="shortcut icon" href="favicon.ico">
  <script src="https://kit.fontawesome.com/41069aef2b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>CONTACT PLAYER</h1>
  

          <form action="/player" method="post"><label class="validation-error hide" id="fullEmailValidationError">This field is required.</label>           
            <div>
              <label>Full Name*</label>
              <input type="text" name="fullName" id="fullName">
            </div>
            <div>
              <label>Phone No.</label>
              <input type="text" name="empCode" id="empCode">
            </div>
            <div>
              <label>Address</label>
              <input type="text" name="address" id="address">
            </div>
            <div>
              <label>City</label>
              <input type="text" name="city" id="city">
            </div>

            <div>
                <label>Email*</label>       
                  <input type="text" name="fullEmail" id="fullEmail"/>
              <div class="form-action-buttons">
                <button type="submit" value="Submit">SUBMIT</button>
              </div>
            </div>  
          </form>
          
  <h3>CONTACT INFO</h3>

  <table>
    <tr>
      <th>name</th>
      <th>phone number</th>
      <th>address</th>
      <th>city</th>
      <th>email</th>    
      <th>delete</th>
    </tr>

      
        <% for(let i=0 ;i<info.length ; i++) {%>
        <tr id="<%= info[i]._id%>"> 
          <td><input value="<%=info[i].fullName%>"><i class="fa-solid fa-pen-to-square"></i></td>
          <td><input value="<%=info[i].empCode%>"></td>
          <td><input value="<%=info[i].address%>"></td>
          <td><input value="<%=info[i].city%>"></td>
          <td><input value="<%=info[i].fullEmail%>"></td>
          <td><i class="fa-trash fa-solid"></i></td>
        </tr>   
        <%}%>
       
  </table>
   


  <script src="main.js"></script>

</body>
</html>